<template name="allPolls">
	<div class="container">
		<div class="row">
			<div class="container">
				<h3 class="teal-text">All Polls</h3>
			</div>
		</div>
		<div class="divider"></div>
		<div class="row">
			{{#each polls}}
				<div class="col s12 m3">
					<div class="all-card card blue-grey darken-1 hoverable">
						<a href="{{pathFor 'pollPage'}}"><div class="card-content all-card-content white-text">
							<h5 class="orange-text text-darken-2">{{title}}</h5>
							<p>{{description}}</p>
						</div></a>
						<div class="card-action all-card-action">
							<a href="{{pathFor 'pollStats'}}"><i class="small material-icons">insert_chart</i></a>
							<a class="valign-wrapper right icon-view"><i class="small material-icons">pageview</i><span class="hits-number">{{hits}}</span></a>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
		{{#if nextPath}}
		<div class="center-align">
			<a class="waves-effect waves-light btn" href="{{nextPath}}"><i class="material-icons left">more</i>Load More</a>
		</div>
		{{else}}
			{{#unless ready}}
				{{> loadingSpin}}
			{{/unless}}
		{{/if}}
	</div>
	<div class="fixed-action-btn">
		<a class="btn-floating btn-large red">
			<i class="large material-icons">sort_by_alpha</i>
		</a>
		<ul>
			<li><a class="btn-floating red" href="/allPollsViews"><i class="material-icons">pageview</i></a></li>
			<li><a class="btn-floating yellow darken-1" href="/allPolls"><i class="material-icons">today</i></a></li>
		</ul>
	</div>
</template>