<template name="pollmg">
	<div class="container">
		<div class="user-polls">
			<div class="row valign-wrapper">
				<div class="col s12 m10">
					<h3 class="teal-text">Your Polls</h3>
				</div>
				<div class="col s12 m2 center-align">
 					<a class="btn-floating btn-large waves-effect waves-light" href="/poll/new"><i class="material-icons">add</i></a>
				</div>
			</div>
			<div class="divider"></div>
			{{#each polls}}
				<div class="row">
					<div class="col s12">
						<div class="card poll-card">
							<div class="card-content dash-card hoverable valign-wrapper pollt teal">
								<i class="medium material-icons">assessment</i>
								<h5>{{title}}</h5>							
							</div>
							<div class="card-action">
								<div class="valign-wrapper row action-thing">
									<div class="col s8 m9">
										<a class="btn-floating red"><i class="material-icons">mode_edit</i></a>
										<a class="btn-floating green" href="{{pathFor 'pollStats'}}"><i class="material-icons">insert_chart</i></a>
										<a class="btn-floating blue delete"><i class="material-icons">delete</i></a>
									</div>
									<div class="col s4 m3">
									<span>created {{date}}</span>
									</div>
								</div>								
							</div>
						</div>
					</div>
				</div>
			{{else}}
			<div class="container center-align">
				<p>You have no polls, please create one :)</p>
				<a class="waves-effect waves-light btn" href="/poll/new"><i class="large material-icons right">mode_edit</i>Create a new poll</a>
			</div>
			{{/each}}
		</div>
	</div>

	<!--Modal-->
	<div id="modal1" class="modal">
	<div class="modal-content">
		<h4>Are you sure?</h4>
		<p>This will permanently remove your poll</p>
	</div> 
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="agree">Yes</a>
		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="disagree">No</a>
	</div>
	</div>
</template>