<template name="pollStats">
	<div class="container">
		<h4 class="center-align teal-text">Statistics for {{title}}</h4>
		<div class="divider"></div>
		<div class="row">
			<div class="col s12 m6">
				<div class="card teal">
					<div class="card-header">
						<p class="card-title center-align">Pie</p>
					</div>
					<div class="card-image white">
						<div id="container-pie" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
					</div>
				</div>			
			</div>
			<div class="col s12 m6">
				<div class="card teal">
					<div class="card-header">
						<p class="card-title center-align">Donut</p>
					</div>
					<div class="card-image white">
						<div id="container-donut" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
					</div>
				</div>			
			</div>			
		</div>
	</div>
</template>