h3 {
  margin: 0;
}

.hits-number {
  margin-left: 5px;
}

.dash-card {
  color:white;
}

.icon-view {
  margin-top:0;
  margin-bottom:10px;
}

.all-card-action {
  height:50px;
}

.all-card-content {
  height:200px;
}

.pollt {
  cursor:pointer;
}

.poll-card {
  height:auto;
}

.action-thing {
  margin-bottom:0;
}

.at-btn {
  margin-bottom: 20px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
}

.icon {
  vertical-align: middle;
}

.fab {
  position:fixed;
  z-index:99999;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family:'Roboto';
}

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-top:50px;
  margin-bottom: 30px;
}


ul li {
  margin-right:5px;
}

.at-form {
  text-align:center;
}
.at-pwd-link {
  text-align:center;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  margin-top:-50px;
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  main {
    margin-top:0;
  }
  .parallax-container {
    margin-top:0;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  main {
    margin-top:0;
  }
  .parallax-container {
    margin-top:0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#iron-router-progress {
  background-color:#add8e6;
}